	
		
		
		.numPage{
		  font:italic .8em calibri light !important;   
		  text-align:center; 	  
		}


		.numPageArabe{
		  font:normal .5em calibri light !important;  
		  text-align:center ; 
		}
		
		.numSourate{
			font-family:Amiri; 
			font-size:.5em;			
		}
		.numJuzHizb{
			box-shadow:inset 0 0 10px gray; 
			padding:.6em 0 0 0;
            border: .1rem solid #ddd; 			
		}

		.hizb{
		  border: thick double gray;
		  border-radius:50px; 
	
		  padding:.8em .4em .4em 1em;
		  width:3.9em;
		  height:4.4em;
		  line-height:.8;
		  font-size:.5em;
          text-align:center;		  
		  display:inline-block; 
		  position:relative; 
		  float:right; 
		  margin-right:-5em;
		  background:white;
		  box-shadow:
		  0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
          0px 2px 2px 0px rgba(255, 255, 255, 0.5) ;
		  
		   border-top-image: url('img/test.png') !important;
		}
		.quart{
		   padding-right:.7em !important; 
		   padding-top:0 !important;
		}
		.nisf{
		  padding-right:.7em !important; 
		  padding-top:.3em !important;
		}
		.sajadat1, .sajadat2{
		   padding:0; box-shadow:none; border-bottom:none; outline:none; margin-top:-3em; width:2em; float:left; margin-left:-.5em; border-radius:100% 50000% 0% 0%;   filter:opacity( 20%);
		}
		.sajadat2{
		    border-top:none;  margin-top:1.2em;    border-radius:0% 0% 50000% 100% ;  
		}
		hr.juz2a:after, hr.juz2f:after, hr.juz3a:after, hr.juz3f:after,  hr.juz4a:after, hr.juz4f:after, hr.juz5a:after, hr.juz5f:after, hr.juz6a:after, hr.juz6f:after, hr.juz7a:after, hr.juz7f:after, hr.juz8a:after, hr.juz8f:after,   hr.juz9a:after, hr.juz9f:after,  hr.juz10a:after, hr.juz10f:after, hr.juz11a:after, hr.juz11f:after, hr.juz12a:after, hr.juz12f:after, hr.juz13a:after, hr.juz13f:after, hr.juz14a:after, hr.juz14f:after, hr.juz15a:after, hr.juz15f:after,  hr.juz16a:after, hr.juz16f:after,   hr.juz17a:after, hr.juz17f:after, hr.juz18a:after, hr.juz18f:after, hr.juz19a:after, hr.juz19f:after,   hr.juz20a:after, hr.juz20f:after, hr.juz21a:after, hr.juz21f:after, hr.juz22a:after, hr.juz22f:after, hr.juz23a:after, hr.juz23f:after, hr.juz24a:after, hr.juz24f:after, hr.juz25a:after, hr.juz25f:after, hr.juz26a:after, hr.juz26f:after,  hr.juz27a:after, hr.juz27f:after,  hr.juz28a:after, hr.juz28f:after, hr.juz29a:after, hr.juz29f:after, hr.juz30a:after, hr.juz30f:after, 
		hr.hizb5a:after, hr.hizb5f:after, hr.hizb7a:after, hr.hizb7f:after, hr.hizb8a:after, hr.hizb8f:after, hr.hizb13a:after, hr.hizb13f:after,   hr.hizb15a:after, hr.hizb15f:after, hr.hizb21a:after, hr.hizb21f:after, hr.hizb25a:after, hr.hizb25f:after, hr.hizb26a:after, hr.hizb26f:after,  hr.hizb27a:after, hr.hizb27f:after, hr.hizb29a:after, hr.hizb29f:after, hr.hizb31a:after, hr.hizb31f:after,  hr.hizb33a:after, hr.hizb33f:after,  hr.hizb35a:after, hr.hizb35f:after,   hr.hizb41a:after, hr.hizb41f:after, hr.hizb42a:after, hr.hizb42f:after, hr.hizb43a:after, hr.hizb43f:after, hr.hizb45a:after, hr.hizb45f:after, hr.hizb46a:after, hr.hizb46f:after, hr.hizb48a:after, hr.hizb48f:after,  hr.hizb49a:after, hr.hizb49f:after,  hr.hizb51a:after, hr.hizb51f:after,  hr.hizb52a:after, hr.hizb52f:after,  hr.hizb53a:after, hr.hizb53f:after,  hr.hizb55a:after, hr.hizb55f:after, hr.hizb56a:after, hr.hizb56f:after, hr.hizb57a:after, hr.hizb57f:after, hr.hizb58a:after, hr.hizb58f:after,  hr.hizb59a:after, hr.hizb59f:after, hr.hizb60a:after, hr.hizb60f:after,
		hr.s51a:after, hr.s51f:after, hr.s52a:after, hr.s52f:after, hr.s79a:after, hr.s79f:after, hr.s83a:after, hr.s83f:after, hr.s84a:after, hr.s84f:after, hr.s87a:after, hr.s87f:after, hr.s88a:after, hr.s88f:after, hr.s90a:after, hr.s90f:after, hr.s92a:after, hr.s92f:after, hr.s93a:after, hr.s93f:after, hr.s94a:after, hr.s94f:after, hr.s96a:after, hr.s96f:after, hr.s98a:after, hr.s98f:after, hr.s99a:after, hr.s99f:after, hr.s100a:after, hr.s100f:after, hr.s101a:after, hr.s101f:after, hr.s102a:after, hr.s102f:after, hr.s104a:after, hr.s104f:after, hr.s105a:after, hr.s105f:after, hr.s107a:after, hr.s107f:after, hr.s108a:after, hr.s108f:after, hr.s110a:after, hr.s110f:after, hr.s111a:after, hr.s111f:after, hr.s112a:after, hr.s112f:after, hr.s113a:after, hr.s113f:after, hr.s114a:after, hr.s114f:after,				
		hr.v51a:after, hr.v51f:after, hr.v52a:after, hr.v52f:after, hr.v79a:after, hr.v79f:after, hr.v83a:after, hr.v83f:after, hr.v84a:after, hr.v84f:after, hr.v87a:after, hr.v87f:after, hr.v88a:after, hr.v88f:after, hr.v90a:after, hr.v90f:after, hr.v92a:after, hr.v92f:after, hr.v93a:after, hr.v93f:after, hr.v94a:after, hr.v94f:after, hr.v96a:after, hr.v96f:after, hr.v98a:after, hr.v98f:after, hr.v99a:after, hr.v99f:after, hr.v100a:after, hr.v100f:after, hr.v101a:after, hr.v101f:after, hr.v102a:after, hr.v102f:after, hr.v104a:after, hr.v104f:after, hr.v105a:after, hr.v105f:after, hr.v107a:after, hr.v107f:after, hr.v108a:after, hr.v108f:after, hr.v110a:after, hr.v110f:after, hr.v111a:after, hr.v111f:after, hr.v112a:after, hr.v112f:after, hr.v113a:after, hr.v113f:after, hr.v114a:after, hr.v114f:after
		{
		   content:"الجزء  ٩"!important; 
		   color: black; 
		   font-size:.7em; 
		   font-style:normal; 
		   font-family:Amiri; 
		   line-height:1.5;
		   
		   letter-spacing:-.1em;
		   font-stretch:ultra-condensed ; 
		   vertical-align: top;
		   
		   /* juste un test pour style les numero des juz horizontales */
		   border:1px solid gray;
		   border-radius:99px;
		   box-shadow:0px 8px 6px -2px gray;
		   margin-right:-0.5em;
		   padding-bottom:-2em !important;		   
		}
		hr.juz9f:after{ 
		   content:"\000020 \000020 Juz-09 "!important;
		   font-stretch:expanded; 
           letter-spacing:-.1em;       
		   white-space: pre;            		   
		}
		hr.juz2a:after{ content:"الجزء ٢"!important; }
		hr.juz3a:after{ content:"الجزء ٣"!important; }
		hr.juz4a:after{ content:"الجزء ٤"!important; }
		hr.juz5a:after{ content:"الجزء ٥"!important; }
		hr.juz6a:after{ content:"الجزء ٦"!important; }
		hr.juz7a:after{ content:"الجزء ٧"!important; }
		hr.juz8a:after{ content:"الجزء ٨"!important; }
		hr.juz10a:after{ content:"الجزء ١٠"!important; }
		hr.juz11a:after{ content:"الجزء ١١"!important; }
		hr.juz12a:after{ content:"الجزء ١٢"!important; }
		hr.juz13a:after{ content:"الجزء ١٣"!important; }
		hr.juz14a:after{ content:"الجزء ١٤"!important; }
		hr.juz15a:after{ content:"الجزء ١٥"!important; }
		hr.juz16a:after{ content:"الجزء ١٦"!important; }
		hr.juz17a:after{ content:"الجزء ١٧"!important; }
		hr.juz18a:after{ content:"الجزء ١٨"!important; }
		hr.juz19a:after{ content:"الجزء ١٩"!important; }
		hr.juz20a:after{ content:"الجزء ٢٠"!important; }		
		hr.juz21a:after{ content:"الجزء ٢١"!important; }
		hr.juz22a:after{ content:"الجزء ٢٢"!important; }
		hr.juz23a:after{ content:"الجزء ٢٣"!important; }
		hr.juz24a:after{ content:"الجزء ٢٤"!important; }
		hr.juz25a:after{ content:"الجزء ٢٥"!important; }
		hr.juz26a:after{ content:"الجزء ٢٦"!important; }
		hr.juz27a:after{ content:"الجزء ٢٧"!important; }
		hr.juz28a:after{ content:"الجزء ٢٨"!important; }
		hr.juz29a:after{ content:"الجزء ٢٩"!important;  border-bottom:none;  }
		hr.juz30a:after{ content:"الجزء ٣٠"!important;  border-bottom:none;  }
		
		hr.juz2f:after{ content:" \000020 \000020 Juz-2"!important; }
		hr.juz3f:after{ content:" \000020 \000020 Juz-3"!important; }
		hr.juz4f:after{ content:" \000020 \000020 Juz-4"!important; }
		hr.juz5f:after{ content:" \000020 \000020 Juz-5"!important; }
		hr.juz6f:after{ content:" \000020 \000020 Juz-6"!important; }
		hr.juz7f:after{ content:" \000020 \000020 Juz-7"!important; }
		hr.juz8f:after{ content:" \000020 \000020 Juz-8"!important; }
		hr.juz10f:after{ content:" \000020 \000020 Juz-10"!important; }
		hr.juz11f:after{ content:" \000020 \000020 Juz-11"!important; }
		hr.juz12f:after{ content:" \000020 \000020 Juz-12"!important; }
		hr.juz13f:after{ content:" \000020 \000020 Juz-13"!important; }
		hr.juz14f:after{ content:" \000020 \000020 Juz-14"!important; }
		hr.juz15f:after{ content:" \000020 \000020 Juz-15"!important; }
        hr.juz16f:after{ content:" \000020 \000020 Juz-16"!important; }			
        hr.juz17f:after{ content:" \000020 \000020 Juz-17"!important; }			
        hr.juz18f:after{ content:" \000020 \000020 Juz-18"!important; }			
        hr.juz19f:after{ content:" \000020 \000020 Juz-19"!important; }			
		hr.juz20f:after{ content:" \000020 \000020 Juz-20"!important; }
		hr.juz21f:after{ content:" \000020 \000021 Juz-21"!important; }
		hr.juz22f:after{ content:" \000020 \000021 Juz-22"!important; }
        hr.juz23f:after{ content:" \000020 \000020 Juz-23"!important; }
        hr.juz24f:after{ content:" \000020 \000020 Juz-24"!important; }
        hr.juz25f:after{ content:" \000020 \000020 Juz-25"!important; }		
		hr.juz26f:after{ content:" \000020 \000020 Juz-26"!important; }
        hr.juz27f:after{ content:" \000020 \000020 Juz-27"!important; }			
        hr.juz28f:after{ content:" \000020 \000020 Juz-28"!important; }			
        hr.juz29f:after{ content:" \000020 \000020 Juz-29"!important;  border-bottom:none;  }		
		hr.juz30f:after{ content:" \000020 \000020 Juz-30"!important;  border-bottom:none;  }
		
		hr.hizb5a:after { content:"الحزب ٥"!important; font-size:.6em; border:none; }
		hr.hizb7a:after { content:"الحزب ٧"!important; font-size:.6em; border:none; }
		hr.hizb8a:after { content:"الحزب ٨"!important; font-size:.6em; border:none; }
		hr.hizb13a:after{ content:"الحزب ١٣"!important; font-size:.6em; border:none;}
		hr.hizb15a:after{ content:"الحزب ١٥"!important; font-size:.6em; border:none;}
		hr.hizb21a:after{ content:"الحزب٢١"!important; font-size:.6em; border:none; }
		hr.hizb25a:after{ content:"الحزب٢٥"!important; font-size:.6em; border:none; }
		hr.hizb26a:after{ content:"الحزب٢٦"!important; font-size:.6em; border:none; }
		hr.hizb27a:after{ content:"الحزب٢٧"!important; font-size:.6em; border:none; }
		hr.hizb29a:after{ content:"الحزب٢٩"!important; font-size:.6em; border:none; }
		hr.hizb31a:after{ content:"الحزب٣١"!important; font-size:.6em; border:none; }
		hr.hizb33a:after{ content:"الحزب٣٣"!important; font-size:.6em; border:none; }
		hr.hizb35a:after{ content:"الحزب٣٥"!important; font-size:.6em; border:none; }
		hr.hizb41a:after{ content:"الحزب٤١"!important; font-size:.6em; border:none; }
		hr.hizb42a:after{ content:"الحزب٤٢"!important; font-size:.6em; border:none; }
		hr.hizb43a:after{ content:"الحزب٤٣"!important; font-size:.6em; border:none; }
		hr.hizb45a:after{ content:"الحزب٤٥"!important; font-size:.6em; border:none; }
		hr.hizb46a:after{ content:"الحزب٤٦"!important; font-size:.6em; border:none; }
		hr.hizb48a:after{ content:"الحزب٤٨"!important; font-size:.6em; border:none; }
		hr.hizb49a:after{ content:"الحزب٤٩"!important; font-size:.6em; border:none; }
		hr.hizb51a:after{ content:"الحزب٥١"!important; font-size:.6em; border:none; }
		hr.hizb52a:after{ content:"الحزب٥٢"!important; font-size:.6em; border:none; }
		hr.hizb53a:after{ content:"الحزب٥٣"!important; font-size:.6em; border:none; }
		hr.hizb55a:after{ content:"الحزب٥٥"!important; font-size:.6em; border:none; }
		hr.hizb56a:after{ content:"الحزب٥٦"!important; font-size:.6em; border:none; }
		hr.hizb57a:after{ content:"الحزب٥٧"!important; font-size:.6em; border:none; }
		hr.hizb58a:after{ content:"الحزب٥٨"!important; font-size:.6em; border:none; }
		hr.hizb59a:after{ content:"الحزب٥٩"!important; font-size:.6em; border:none; }
		hr.hizb60a:after{ content:"الحزب٦٠"!important; font-size:.6em; border:none; }
		
		hr.hizb5f:after { content:" \000020 \000020 Hizb-5"!important; font-size:.6em;  border:none; }
		hr.hizb7f:after { content:" \000020 \000020 Hizb-7"!important; font-size:.6em;  border:none; }
		hr.hizb8f:after { content:" \000020 \000020 Hizb-8"!important; font-size:.6em;  border:none; }
		hr.hizb13f:after{ content:" \000020 \000020 Hizb-13"!important; font-size:.6em;  border:none; }
		hr.hizb15f:after{ content:" \000020 \000020 Hizb-15"!important; font-size:.6em;  border:none; }
		hr.hizb21f:after{ content:" \000020 \000020 Hizb-21"!important; font-size:.6em;  border:none; }
		hr.hizb25f:after{ content:" \000020 \000020 Hizb-25"!important; font-size:.6em;  border:none; }
		hr.hizb26f:after{ content:" \000020 \000020 Hizb-26"!important; font-size:.6em;  border:none; }
		hr.hizb27f:after{ content:" \000020 \000020 Hizb-27"!important; font-size:.6em;  border:none; }
		hr.hizb29f:after{ content:" \000020 \000020 Hizb-29"!important; font-size:.6em;  border:none; }
		hr.hizb31f:after{ content:" \000020 \000020 Hizb-31"!important; font-size:.6em;  border:none; }
		hr.hizb33f:after{ content:" \000020 \000020 Hizb-33"!important; font-size:.6em;  border:none; }
		hr.hizb35f:after{ content:" \000020 \000020 Hizb-35"!important; font-size:.6em;  border:none; }
		hr.hizb41f:after{ content:" \000020 \000020 Hizb-41"!important; font-size:.6em;  border:none; }
		hr.hizb42f:after{ content:" \000020 \000020 Hizb-42"!important; font-size:.6em;  border:none; }
		hr.hizb43f:after{ content:" \000020 \000020 Hizb-43"!important; font-size:.6em;  border:none; }
		hr.hizb45f:after{ content:" \000020 \000020 Hizb-45"!important; font-size:.6em;  border:none; }
		hr.hizb46f:after{ content:" \000020 \000020 Hizb-46"!important; font-size:.6em;  border:none; }
		hr.hizb48f:after{ content:" \000020 \000020 Hizb-48"!important; font-size:.6em;  border:none; }
		hr.hizb49f:after{ content:" \000020 \000020 Hizb-49"!important; font-size:.6em;  border:none; }
		hr.hizb51f:after{ content:" \000020 \000020 Hizb-51"!important; font-size:.6em;  border:none; }
		hr.hizb52f:after{ content:" \000020 \000020 Hizb-52"!important; font-size:.6em;  border:none; }
		hr.hizb53f:after{ content:" \000020 \000020 Hizb-53"!important; font-size:.6em;  border:none; }
		hr.hizb55f:after{ content:" \000020 \000020 Hizb-55"!important; font-size:.6em;  border:none; }
		hr.hizb56f:after{ content:" \000020 \000020 Hizb-56"!important; font-size:.6em;  border:none; }
		hr.hizb57f:after{ content:" \000020 \000020 Hizb-57"!important; font-size:.6em;  border:none; }
		hr.hizb58f:after{ content:" \000020 \000020 Hizb-58"!important; font-size:.6em;  border:none; }
		hr.hizb59f:after{ content:" \000020 \000020 Hizb-59"!important; font-size:.6em;  border:none; }
		hr.hizb60f:after{ content:" \000020 \000020 Hizb-60"!important; font-size:.6em;  border:none; }
		
		hr.s51a:after{ content:"ترتيبها ٥١"!important; font-weight:normal;   }
		hr.s52a:after{ content:"ترتيبها ٥٢"!important; font-weight:normal;   }
		hr.s79a:after{ content:"ترتيبها ٧٩"!important; font-weight:normal;   }
		hr.s83a:after{ content:"ترتيبها ٨٣"!important; font-weight:normal;   }
		hr.s84a:after{ content:"ترتيبها ٨٤"!important; font-weight:normal;   }
		hr.s87a:after{ content:"ترتيبها ٨٧"!important; font-weight:normal;   }
		hr.s88a:after{ content:"ترتيبها ٨٨"!important; font-weight:normal;   }
		hr.s90a:after{ content:"ترتيبها ٩٠"!important; font-weight:normal;   }
		hr.s92a:after{ content:"ترتيبها ٩٢"!important; font-weight:normal;   }
		hr.s93a:after{ content:"ترتيبها ٩٣"!important; font-weight:normal;   }
		hr.s94a:after{ content:"ترتيبها ٩٤"!important; font-weight:normal;   }
		hr.s96a:after{ content:"ترتيبها ٩٦"!important; font-weight:normal;   }
		hr.s98a:after{ content:"ترتيبها ٩٨"!important; font-weight:normal;   }
		hr.s99a:after{ content:"ترتيبها ٩٩"!important; font-weight:normal;   }
		hr.s100a:after{ content:"ترتيبها١٠٠"!important; font-weight:normal;   }
		hr.s101a:after{ content:"ترتيبها١٠١"!important; font-weight:normal;   }
		hr.s102a:after{ content:"ترتيبها١٠٢"!important; font-weight:normal;   }
		hr.s104a:after{ content:"ترتيبها١٠٤"!important; font-weight:normal;   }
		hr.s105a:after{ content:"ترتيبها١٠٥"!important; font-weight:normal;   }
		hr.s107a:after{ content:"ترتيبها١٠٧"!important; font-weight:normal;   }
		hr.s108a:after{ content:"ترتيبها١٠٨"!important; font-weight:normal;   }
		hr.s110a:after{ content:"ترتيبها١١٠"!important; font-weight:normal;   }
		hr.s111a:after{ content:"ترتيبها١١١"!important; font-weight:normal;   }
		hr.s112a:after{ content:"ترتيبها١١٢"!important; font-weight:normal;   }
		hr.s113a:after{ content:"ترتيبها١١٣"!important; font-weight:normal;   }
		hr.s114a:after{ content:"ترتيبها١١٤"!important; font-weight:normal;   }
		
		hr.s51f:after{ content:" \000020 \000020 S-51."!important; }
		hr.s52f:after{ content:" \000020 \000020 S-52."!important; }
		hr.s79f:after{ content:" \000020 \000020 S-79."!important; }
		hr.s83f:after{ content:" \000020 \000020 S-83."!important; }
		hr.s84f:after{ content:" \000020 \000020 S-84."!important; }
		hr.s87f:after{ content:" \000020 \000020 S-87."!important; }
		hr.s88f:after{ content:" \000020 \000020 S-88."!important; }
		hr.s90f:after{ content:" \000020 \000020 S-90."!important; }
		hr.s92f:after{ content:" \000020 \000020 S-92."!important; }
		hr.s93f:after{ content:" \000020 \000020 S-93."!important; }
		hr.s94f:after{ content:" \000020 \000020 S-94."!important; }
		hr.s96f:after{ content:" \000020 \000020 S-96."!important; }
		hr.s98f:after{ content:" \000020 \000020 S-98."!important; }
		hr.s99f:after{ content:" \000020 \000020 S-99."!important; }
		hr.s100f:after{ content:" \000020 \000020 S-100."!important; }
		hr.s101f:after{ content:" \000020 \000020 S-101."!important; }
		hr.s102f:after{ content:" \000020 \000020 S-102."!important; }
		hr.s104f:after{ content:" \000020 \000020 S-104."!important; }
		hr.s105f:after{ content:" \000020 \000020 S-105."!important; }
		hr.s107f:after{ content:" \000020 \000020 S-107."!important; }
		hr.s108f:after{ content:" \000020 \000020 S-108."!important; }
		hr.s110f:after{ content:" \000020 \000020 S-110."!important; }
		hr.s111f:after{ content:" \000020 \000020 S-111."!important; }
		hr.s112f:after{ content:" \000020 \000020 S-112."!important; }
		hr.s113f:after{ content:" \000020 \000020 S-113."!important; }
		hr.s114f:after{ content:" \000020 \000020 S-114."!important; }
		
		hr.v51a:after{ content:"آياتها٦٠"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v52a:after{ content:"آياتها٤٩"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v79a:after{ content:"آياتها٤٦"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v83a:after{ content:"آياتها٣٦"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v84a:after{ content:"آياتها٢٥"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v87a:after{ content:"آياتها١٩"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v88a:after{ content:"آياتها٢٦"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v90a:after{ content:"آياتها٢٠"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v92a:after{ content:"آياتها٢١"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v93a:after{ content:"آياتها١١"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v94a:after{ content:"آياتها ٨"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v96a:after{ content:"آياتها١٩"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v98a:after{ content:"آياتها ٨"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v99a:after{ content:"آياتها ٨"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v100a:after{ content:"آياتها١١"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v101a:after{ content:"آياتها١١"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v102a:after{ content:"آياتها ٨"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v104a:after{ content:"آياتها ٩"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v105a:after{ content:"آياتها ٥"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v107a:after{ content:"آياتها ٧"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v108a:after{ content:"آياتها ٣"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v110a:after{ content:"آياتها ٣"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v111a:after{ content:"آياتها ٥"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v112a:after{ content:"آياتها ٤"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v113a:after{ content:"آياتها ٥"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v114a:after{ content:"آياتها ٦"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		
		hr.v51f:after{ content:"60Vrset"!important; }
		hr.v52f:after{ content:"49Vrset"!important; }
		hr.v79f:after{ content:"46Vrset"!important; }
		hr.v83f:after{ content:"36Vrset"!important; }
		hr.v84f:after{ content:"25Vrset"!important; }
		hr.v87f:after{ content:"19Vrset"!important; }
		hr.v88f:after{ content:"26Vrset"!important; }
		hr.v90f:after{ content:"20Vrset"!important; }
		hr.v92f:after{ content:"21Vrset"!important; }
		hr.v93f:after{ content:"11Vrset"!important; }
		hr.v94f:after{ content:"8 Vrset"!important; }
		hr.v96f:after{ content:"19Vrset"!important; }
		hr.v98f:after{ content:"8 Vrset"!important; }
		hr.v99f:after{ content:"8 Vrset"!important; }
		hr.v100f:after{ content:"11Vrset"!important; }
		hr.v101f:after{ content:"11Vrset"!important; }
		hr.v102f:after{ content:"8 Vrset"!important; }
		hr.v104f:after{ content:"9 Vrset"!important; }
		hr.v105f:after{ content:"5 Vrset"!important; }
		hr.v107f:after{ content:"7 Vrset"!important; }
		hr.v108f:after{ content:"3 Vrset"!important; }
		hr.v110f:after{ content:"3 Vrset"!important; }
		hr.v111f:after{ content:"5 Vrset"!important; }
		hr.v112f:after{ content:"4 Vrset"!important; }
		hr.v113f:after{ content:"5 Vrset"!important; }
		hr.v114f:after{ content:"6 Vrset"!important; }