

#myBtn {
  display: none;  
  position: fixed;
  right: -1.4%;
  bottom: 5%;
  
  z-index: 99;
  
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
 
  background-color:#3d3d5c; /* #555; */
}

/* juste pour le fun: On met l'feu sur le bouton to top !!!!!!!  */

@-webkit-keyframes ombre {
  0% {
    box-shadow: 0 0 15px red;
   
  }
  100% {
    box-shadow: 0 0 15px yellow;
    border:2px solid yellow; padding:2px;
  }
}
@-moz-keyframes ombre {
  0% {
    box-shadow: 0 0 15px gold;
  
  }
  100% {
    box-shadow: 0 0 15px yellow;
  }
}
@keyframes ombre {
  0% {
    box-shadow: 0 0 15px red;  
  }
  100% {
    box-shadow: 0 0 15px yellow;/* tester  #ff1 et gold*/

  }
}
/* ---------------------------- */
@-webkit-keyframes interpage {
  0% {
    box-shadow: 0 0 15px blue;
   
  }
  100% {
    box-shadow: 0 0 15px #ccf;
    border:2px solid yellow; padding:2px;
  }
}
@-moz-keyframes interpage {
  0% {
    box-shadow: 0 0 15px gold;
  
  }
  100% {
    box-shadow: 0 0 15px #cc1;
  }
}
@keyframes interpage {
  0% {
    box-shadow: 0 0 15px blue;  
  }
  100% {
    box-shadow: 0 0 15px #ff1;/* tester  #ff1 et gold*/

  }
}

#imageToTop {
  border-radius: 4px;

  /* Animation (mise à feu) */
  -webkit-animation: ombre ease-in infinite alternate 500ms;
  -moz-animation: ombre ease-in infinite alternate 100ms;
  animation: ombre ease-in infinite alternate 500ms;
}

.signal-Interpage {
 border-radius: 0px;
  /* Animation (mise à feu) */
  -webkit-animation: interpage ease-in infinite alternate 500ms;
  -moz-animation: interpage ease-in infinite alternate 500ms;
  animation: interpage ease-in infinite alternate 500ms;
}
